<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-button *ngIf="!addJogador" (click)="addJogadorClicado()" id="hover-trigger" slot="end"
      style="margin-right: 15px;" title="Adicionar Jogador">
      <ion-icon name="person-add"></ion-icon>
    </ion-button>
    <ion-button *ngIf="addJogador" (click)="addJogadorClicado()" id="hover-trigger" color="danger" slot="end"
      style="margin-right: 15px;">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header *ngIf="addJogador">
    <div style=" display: flex; justify-content: space-between; padding: 10px;">
      <ion-input placeholder="Digite o nome do jogador" [(ngModel)]="novoJogador"></ion-input>
      <ion-button size="small" (click)="adicionarJogador()" color="primary">
        <ion-icon style="font-size: 15px;" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let jogador of jogador">
        <ion-card style="padding: 10px;">
          <div style="margin-top: 5%; text-align: center;">
            <ion-card-title>{{ jogador.nome }}</ion-card-title>
            <ion-item>
              <ion-label style="font-size: 30px; color: gray; text-align: center;">{{ jogador.pontos }}</ion-label>
            </ion-item>
            <div class="button-group">
              <ion-button (click)="adicionarPontos(jogador)" color="success">
                <ion-icon name="add" color="light"></ion-icon>
              </ion-button>
              <ion-button (click)="removerPontos(jogador)" color="danger">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="container">
    <ion-card class="ion-text-center">
      <ion-card-header>
        <ion-card-title>Relatório</ion-card-title>
      </ion-card-header>
      <ion-card-content style="display: flex; justify-content: center;">
        <!-- <canvas #barChart></canvas> -->
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>